/* Styles for the gallery container */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  
 
  .gallery-item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .gallery-item:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
 
  .gallery-item .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .info p {
    margin: 0;
    flex: 1 1 50%;
    padding: 2px 0;
    text-align: left;
    font-size: 12px;
  }
  